
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

a {
  color: unset;
  text-decoration: unset;
}

* {
  font-family: "Inter", sans-serif;
  user-select: none;
  font-optical-sizing: auto;
  margin: 0;
  padding: 0;
}

:root {
  --color-primary: hsl(231, 97%, 72%);      
  --color-secondary: hsl(220, 72%, 76%);    
  --color-accent: hsl(266, 86%, 59%);       
  --color-success: hsl(115, 54%, 40%);      
  --color-warning: hsl(34, 77%, 49%);       
  --color-error: hsl(350, 73%, 46%);        

  /* Backgrounds */
  --color-background: hsl(220, 23%, 95%);   
  --color-surface: hsl(220, 20%, 98%);      
  --color-elevation-1: hsl(220, 20%, 100%); 
  --color-elevation-2: hsl(220, 20%, 92%);  

  /* Text */
  --color-foreground: hsl(234, 18%, 36%);   
  --color-text-muted: hsl(233, 12%, 47%);   
  --color-text-inverted: hsl(0, 0%, 100%); 
  --color-text-secondary: var(--color-text-inverted); 
  
  /* Borders / Lines */
  --color-border: hsl(220, 20%, 82%);       
  --color-divider: hsl(220, 20%, 90%);      

  /* Buttons */
  --color-button-primary-bg: var(--color-primary);
  --color-button-primary-text: var(--color-text-inverted);
  --color-button-secondary-bg: var(--color-secondary);
  --color-button-secondary-text: var(--color-text-inverted);

  /* States (derived from primary) */
  --color-hover: hsl(231, 97%, 64%);        
  --color-active: hsl(231, 97%, 58%);
  --color-focus-ring: hsla(231, 97%, 72%, 0.45);
}

.dark-theme {
  /* Core Semantic Colors (Mocha-inspired) */
  --color-primary: hsl(234, 97%, 86%);      
  --color-secondary: hsl(217, 92%, 76%);    
  --color-accent: hsl(267, 84%, 82%);       
  --color-success: hsl(115, 54%, 76%);      
  --color-warning: hsl(41, 85%, 82%);       
  --color-error: hsl(343, 83%, 75%);        

 /* Background and surfaces */
  --color-background: hsl(240, 21%, 15%);   
  --color-surface: hsl(240, 21%, 11%);      
  --color-elevation-1: hsl(240, 21%, 18%);  
  --color-elevation-2: hsl(240, 21%, 22%);  

  /* Text colors */
  --color-foreground: hsl(226, 64%, 86%);   
  --color-text-muted: hsl(227, 36%, 80%);   
  --color-text-inverted: hsl(0, 0%, 100%); 
  --color-text-secondary: hsl(240, 18%, 15%); 

  /* Border / divider */
  --color-border: hsl(234, 14%, 23%);       
  --color-divider: hsl(234, 13%, 31%);      


  /* Buttons */
  --color-button-primary-bg: var(--color-primary);
  --color-button-primary-text: var(--color-text-inverted);
  --color-button-secondary-bg: var(--color-secondary);
  --color-button-secondary-text: var(--color-text-inverted);

  /* States */
  --color-hover: hsl(234, 97%, 82%);
  --color-active: hsl(234, 97%, 78%);
  --color-focus-ring: hsla(234, 97%, 86%, 0.45);
}

